<section class="mt-8 py-8 max-h-80 gap-3 flex flex-col items-center justify-center text-white" style="background:url('{{component.image}}');background-repeat:no-repeat;background-size: cover;">
        <p class="md:text-2xl lg:text-4xl">{{component.title}}</p>
        <h2 class="md:text-4xl lg:text-7xl">{{component.subtitle}}</h2>
        <a class="border-b-2 border-white md:text-2xl lg:text-4xl" href="{{component.url}}"> {{component.button}}</a>
</section>